<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Version</key>
	<string>1.0</string>
	<key>ContentVersion</key>
	<string>1.0</string>
	<key>Name</key>
	<string>Black holes</string>
	<key>Description</key>
	<string>Explore the physics of black holes in the theory of general relativity</string>
	<key>ContentIdentifier</key>
	<string>de.nilsleiffischer.playgrounds.blackholes</string>
	<key>DeploymentTarget</key>
	<string>ios10.0</string>
	<key>ImageReference</key>
	<string>banner.png</string>
	<key>Chapters</key>
	<array>
		<string>Document1.playgroundchapter</string>
	</array>
</dict>
</plist>
